<div
  [ngStyle]="{ 'border-color': color }"
  class="dark:bg-dark-bg1 w-full cursor-custom-link mt-4 shadow-md transition duration-300 border-t-2 rounded bg-white hover:shadow-xl hover:-translate-y-1"
>
  <a
    [routerLink]="['/post', archiveArticle.number]"
    class="inline-flex flex-col w-full"
  >
    <div class="text-lg px-3 py-4">{{ archiveArticle.title }}</div>
    <div
      class="text-sm px-3 py-3 border-t border-gray-200 dark:border-dark-bg2 space-x-3 flex"
    >
      <span>
        <span class="svg" [innerHTML]="calendarIcon"></span>
        {{ archiveArticle.created_at | timeago }}
      </span>
      <span>
        <span class="svg" [innerHTML]="bookmarkOneIcon"></span>
        {{ archiveArticle.milestone?.title || "未分类" }}
      </span>
      <span>
        <span class="svg" [innerHTML]="tagIcon"></span>
        <span *ngIf="archiveArticle.labels.length === 0; else noLableTel">
          无标签
        </span>
        <ng-template #noLableTel>
          <span
            *ngFor="let label of archiveArticle.labels; index as i"
            class="mr-1.5"
          >
            <span *ngIf="!(clientType === 'Mobile' && i !== 0)">
              {{ label.name }}
            </span>
          </span>
        </ng-template>
      </span>
    </div>
  </a>
</div>
