:host ::ng-deep #waline {
  input,
  textarea {
    outline: none;
  }
  button[title="表情包"] {
    display: none;
  }
  @media screen and (max-width: 876px) {
    .wl-item {
      padding: 0;
    }
    .wl-panel {
      @apply m-0 rounded;
    }
    .wl-comment-actions > .wl-like {
      display: none;
    }
    .wl-comment-actions > .wl-reply {
      @apply cursor-custom-link;
    }
    label[title="上传图片"],
    .wl-text-number {
      display: none;
    }
  }
}
