<div
  class="nav flex shadow-nav s-md:shadow-nav-mobile s-md:bg-transparent px-8 s-md:px-2 py-2 bg-black bg-opacity-10 transition-all duration-700 md:hover:rounded-30px"
>
  <div class="w-full" *ngFor="let nav of navs; let i = index">
    <a
      [routerLink]="nav.path"
      class="dark:text-dark-text2 dark:hover:text-purple-darkest flex flex-col items-center transition hover:text-purple-darkest s-md:text-white"
    >
      <span [innerHTML]="nav.icon" class="py-0.5"></span>
      {{ nav.name }}
    </a>
  </div>
</div>
