<div class="footer py-8 pt-12 relative">
  <div class="flex justify-center items-center">
    2020-{{ nowYear }}
    <svg
      class="w-5 inline ml-2 mr-1 stroke-gray dark:stroke-dark-text2"
      viewBox="0 0 256 256"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M133.7,211.9l81-81c19.9-20,22.8-52.7,4-73.6a52,52,0,0,0-75.5-2.1L128,70.5,114.9,57.3c-20-19.9-52.7-22.8-73.6-4a52,52,0,0,0-2.1,75.5l83.1,83.1A8.1,8.1,0,0,0,133.7,211.9Z"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="12"
      />
    </svg>
    魔法方
  </div>
  <div class="flex justify-center items-center">
    Theme&nbsp;-&nbsp;
    <a
      class="transition hover:text-purple-darkest"
      href="https://github.com/chanshiyucx/aurora"
      target="_blank"
    >
      Aurora
    </a>
    &nbsp;| 世界充满了魔法与方块
  </div>
</div>
