//关于页面额外配置
.main-page {
  .code-card {
    ul {
      margin: 0;
      position: relative;
      overflow: hidden;
      @media screen and (min-width: 876px) {
        margin: 0 16px;
      }
      li {
        padding-bottom: 15px;
        padding-left: 24px;
        position: relative;
        &:nth-child(n + 6) {
          display: none;
        }
        &::after {
          content: "";
          width: 9.8px;
          height: 9.8px;
          position: absolute;
          left: 0;
          top: calc(50% - 6px);
          transform: translateY(-50%);
          background-color: #fff;
          border-radius: 5px;
          border: 2px solid;
          z-index: 5;
          @apply border-purple-darkest shadow dark:bg-dark-bg1;
        }
        &::before {
          content: "";
          position: absolute;
          left: 4px;
          top: calc(-50% - 6px);
          width: 1.6px;
          height: 500%;
          background: #f0f0f0;
          z-index: 0;
          @apply dark:bg-dark-bg2;
        }
        &:nth-child(1)::before {
          content: "";
          position: absolute;
          left: 4px;
          top: calc(-50% - 6px);
          width: 1.6px;
          height: 100%;
          background: white;
          z-index: 1;
          @apply dark:bg-dark-bg1;
        }
        &:nth-child(n + 5)::before {
          content: "";
          position: absolute;
          left: 4px;
          top: calc(50% - 6px);
          width: 1.6px;
          height: 100%;
          background: white;
          @apply dark:bg-dark-bg1;
        }
      }
    }
    p {
      margin-bottom: 0;
    }
  }
}
