<app-starryiu-content>
  <app-starryiu-quote></app-starryiu-quote>
  <div class="py-2 px-8 text-sm s-md:px-4" *ngIf="friends.length > 0">
    <div>欢迎各位交换友链 (づ￣ 3￣)づ</div>
    <div class="space-y-1 py-3">
      <div>★ Bio：STARRYIU</div>
      <div>★ Motto：世界充满了魔法与方块</div>
      <div>★ URL：https://starryiu.netlify.app/</div>
      <div>
        ★ Avatar：<a
          class="transition hover:text-purple-darkest"
          [href]="__config.images.avatar"
          target="_blank"
          >点击获取</a
        >
      </div>
    </div>
    <div>
      ※
      以下友链按博主互访频率排序，并根据个人对博客内容喜好加权，博主将不定期更新排序并过滤阵亡名单。
    </div>
    <div class="flex flex-wrap justify-between py-4">
      <div
        *ngFor="let friend of friends"
        class="dark:bg-dark-bg1/30 friend-card group overflow-hidden h-28 s-md:h-24 cursor-custom-link shadow-md bg-white/30 mt-2 relative"
      >
        <a [href]="friend.link" target="_blank" class="flex w-full h-full">
          <img
            class="w-full h-full object-cover"
            [src]="friend.cover"
            alt=""
            (error)="coverError($event)"
          />
          <div
            class="dark:bg-dark-bg1/50 group-hover:-translate-y-28 transition duration-500 w-full h-full absolute left-0 top-0 bg-white/50"
          >
            <div
              class="relative z-10 flex flex-col items-center h-full justify-center"
            >
              <img
                class="w-12 h-12 rounded-full shadow"
                [src]="friend.avatar"
                alt=""
                (error)="avatarError($event)"
              />
              <span class="pt-1.5 text-base">{{ friend.name }}</span>
            </div>
            <div
              class="dark:bg-dark-bg1/70 rect w-full h-1/2 absolute left-0 bottom-0 bg-white/70 shadow"
            ></div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <app-starryiu-comment></app-starryiu-comment>
</app-starryiu-content>
