<app-starryiu-content>
  <app-starryiu-quote></app-starryiu-quote>
  <div *ngIf="categorys.length > 0; else starryiuLoading">
    <div class="px-4 text-xs">
      <span
        (click)="clearSelectCategory()"
        *ngIf="articles | isEmpty"
        class="inline-flex items-center bg-purple bg-opacity-60 px-2 py-1 text-white rounded-xl cursor-custom-link transition duration-300 hover:bg-opacity-100"
      >
        <span [innerHTML]="closeIcon" class="mr-0.5"></span>
        {{ selectCategory.title }}
      </span>
    </div>
    <div class="flex justify-between flex-wrap px-4">
      <ng-template [ngIf]="!(articles | isEmpty)" [ngIfElse]="articleList">
        <div
          *ngFor="let category of categorys"
          (click)="
            loadArticlesByCategory(category); changeSelectCategory(category)
          "
          class="category-card relative mt-4 cursor-custom-link rounded overflow-hidden shadow-card transition duration-300 hover:shadow-card-hover hover:-translate-y-1"
        >
          <img
            class="w-full h-full object-cover"
            [src]="category.cover"
            alt=""
          />

          <div
            class="dark:bg-dark-bg1 dark:bg-opacity-75 absolute left-0 top-0 w-full h-full bg-white bg-opacity-75"
          >
            <div class="flex justify-between items-center p-6">
              <img
                class="dark:border-dark-bg1 dark:border-opacity-20 category-avatar border-4 border-white border-opacity-20 rounded-full overflow-hidden shadow"
                [src]="category.cover"
                alt=""
              />
              <div
                class="dark:bg-dark-bg1 dark:bg-opacity-60 bg-white bg-opacity-60 p-2 shadow-md rounded text-center text-sm"
              >
                {{ category.title }} ({{ category.open_issues }})
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #articleList>
        <div
          class="flex justify-between flex-wrap py-4 w-full"
          *ngIf="articles.length > 0"
        >
          <app-archive-card
            class="w-49.2% s-md:w-full"
            *ngFor="let article of articles; let i = index"
            [archiveArticle]="article"
          ></app-archive-card>
        </div>
        <div class="w-full">
          <app-starryiu-pagination
            *ngIf="pageTotal"
            [pageIndex]="pageIndex"
            [pageTotal]="pageTotal"
            [pageLoading]="pageLoading"
            (pageIndexChange)="changePage($event)"
          ></app-starryiu-pagination>
        </div>
      </ng-template>
    </div>
  </div>
  <ng-template #starryiuLoading>
    <app-anime-loading></app-anime-loading>
  </ng-template>
  <div class="py-2"></div>
</app-starryiu-content>
