@font-face {
  font-family: CangErFeiBaiW01;
  src: url("./仓耳非白/仓耳非白W01.ttf");
  font-style: normal;
}

@font-face {
  font-family: CangErFeiBaiW02;
  src: url("./仓耳非白/仓耳非白W02.ttf");
  font-style: normal;
}

@font-face {
  font-family: CangErFeiBaiW03;
  src: url("./仓耳非白/仓耳非白W03.ttf");
  font-style: normal;
}
