<app-starryiu-content [transparent]="true">
  <div
    *ngIf="articles.length > 0; else starryiuLoading"
    class="flex flex-wrap justify-between"
  >
    <app-article-card
      *ngFor="let article of articles"
      [article]="article"
    ></app-article-card>
    <div class="w-full" *ngIf="pageTotal">
      <app-starryiu-pagination
        [pageIndex]="pageIndex"
        [pageTotal]="pageTotal"
        [pageLoading]="pageLoading"
        (pageIndexChange)="changePage($event)"
      ></app-starryiu-pagination>
    </div>
  </div>
  <ng-template #starryiuLoading>
    <app-anime-loading></app-anime-loading>
  </ng-template>
</app-starryiu-content>
