<app-starryiu-content [transparent]="true">
  <div
    class="flex flex-wrap justify-between"
    *ngIf="articles.length > 0; else starryiuLoading"
  >
    <div
      class="dark:bg-dark-bg1 dark:bg-opacity-80 flex w-49.2% s-md:w-full mb-4 bg-white bg-opacity-80 rounded overflow-hidden transition duration-500 shadow-card hover:shadow-card-hover hover:-translate-y-1.5 translate-y-14"
      *ngFor="let article of articles"
    >
      <app-article-card [article]="article"></app-article-card>
    </div>
    <div class="w-full" *ngIf="pageTotal">
      <app-starryiu-pagination
        [pageIndex]="pageIndex"
        [pageTotal]="pageTotal"
        [pageLoading]="pageLoading"
        (pageIndexChange)="changePage($event)"
      ></app-starryiu-pagination>
    </div>
  </div>
  <ng-template #starryiuLoading>
    <app-anime-loading></app-anime-loading>
  </ng-template>
</app-starryiu-content>
