.article-image {
  display: none;
}
.article-image.active {
  display: block;
}
.article-image-loading {
  display: flex;
  justify-content: center;
}
.article-image-loading.hide {
  display: none;
}

.wave-loading {
  @apply my-2;
}

.wave-loading span {
  display: inline-block;
  font-size: 14px;
  animation: wave-loading 1.1s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--time));
}

@keyframes wave-loading {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-14px);
  }

  50%,
  100% {
    transform: translateY(0px);
  }
}
