.code-card {
  @apply text-15px;

  ul {
    margin-left: 20px;
  }
  ol {
    @apply px-6 list-decimal;
    li p {
      margin: 0 !important;
    }
  }

  p {
    margin-bottom: 1.25rem;
    code {
      padding: 2px 4px;
      font-size: 13px;
      border-radius: 3px;
      color: #b854d4;
      background-color: rgba(0, 0, 0, 0.1);
      word-wrap: break-word;
    }
  }

  img {
    margin: 0 auto;
    @apply shadow-card my-4 cursor-custom-link rounded;
  }
  h2,
  h3 {
    &:hover {
      @apply text-purple-darkest transition;
    }
  }
  h2 {
    &::before {
      content: "# ";
    }
    font-size: 20px;
    @apply font-bold my-4;
  }

  h3 {
    &::before {
      content: "## ";
    }
    font-size: 18px;
    @apply font-bold my-4 hover:text-purple-darkest transition duration-300 cursor-custom-link;
  }

  a {
    @apply text-purple-darkest hover:underline;
  }

  table {
    @apply w-full my-4 border-l border-b dark:border-dark-bg1;
    border-color: #f0f0f0;
    tr {
      background: #ffffff;
      @apply w-full flex dark:bg-dark-bg2 dark:hover:bg-dark-bg1;
      &:hover {
        background: #fafafa;
      }
    }
    td,
    th {
      border-color: #f0f0f0;
      @apply p-0.5 border-r border-t flex-1 flex pl-4 items-center py-2 dark:border-dark-bg1;
    }
    thead th {
      @apply py-4 dark:bg-dark-bg1;
      background: #fafafa;
    }
    // color: #212122;
  }

  /* 代码高亮 */

  pre {
    @apply my-4 p-4 overflow-x-auto bg-white rounded border dark:bg-dark-bg1 dark:border-dark-bg2;
    border-color: #f0f0f0;
    @media screen and (max-width: 876px) {
      @apply p-2;
    }
  }

  .hljs-comment,
  .hljs-quote {
    color: #999580;
  }

  /* Atelier-Dune Red */
  .hljs-variable,
  .hljs-template-variable,
  .hljs-attribute,
  .hljs-tag,
  .hljs-name,
  .hljs-regexp,
  .hljs-link,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class {
    color: #d73737;
  }

  /* Atelier-Dune Orange */
  .hljs-number,
  .hljs-meta,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-literal,
  .hljs-type,
  .hljs-params {
    color: #cd5da0;
  }

  /* Atelier-Dune Green */
  .hljs-string,
  .hljs-symbol,
  .hljs-bullet {
    color: #60ac39;
  }

  /* Atelier-Dune Blue */
  .hljs-title,
  .hljs-section {
    color: #6684e1;
  }

  /* Atelier-Dune Purple */
  .hljs-keyword,
  .hljs-selector-tag {
    @apply text-purple-darkest;
  }

  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #a6a28c;
    background: #20201d;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }

  .hljs-attr {
    color: rgb(102, 132, 225);
  }
}
