.code-card {
  @apply text-15px;

  ul {
    margin-left: 20px;
  }
  ol {
    @apply px-6 list-decimal;
    li p {
      margin: 0 !important;
    }
  }

  p {
    margin-bottom: 25px;
    code {
      padding: 2px 4px;
      font-size: 13px;
      border-radius: 3px;
      color: #b854d4;
      background-color: rgba(0, 0, 0, 0.1);
      word-wrap: break-word;
    }
  }

  img {
    margin: 0 auto;
    @apply shadow-card my-4 cursor-custom-link rounded;
  }

  h2 {
    &::before {
      content: "# ";
    }
    font-size: 20px;
    @apply font-bold my-4;
  }

  h3 {
    &::before {
      content: "## ";
    }
    font-size: 18px;
    @apply font-bold my-4 hover:text-purple-darkest transition duration-300 cursor-custom-link;
  }

  a {
    @apply text-purple-darkest hover:underline;
  }

  table {
    @apply w-full my-4 border-l border-b;
    border-color: #f0f0f0;
    tr {
      background: #ffffff;
      @apply w-full flex;
      &:hover {
        background: #fafafa;
      }
    }
    td,
    th {
      border-color: #f0f0f0;

      @apply p-0.5 border-r border-t flex-1 flex pl-4 items-center py-2;
    }
    thead th {
      @apply py-4;
      background: #fafafa;
    }
  }

  /* 代码高亮 */

  pre {
    @apply shadow-card my-4 p-2 overflow-x-auto;
  }

  .hljs-comment,
  .hljs-quote {
    color: #999580;
  }

  /* Atelier-Dune Red */
  .hljs-variable,
  .hljs-template-variable,
  .hljs-attribute,
  .hljs-tag,
  .hljs-name,
  .hljs-regexp,
  .hljs-link,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class {
    color: #d73737;
  }

  /* Atelier-Dune Orange */
  .hljs-number,
  .hljs-meta,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-literal,
  .hljs-type,
  .hljs-params {
    color: #cd5da0;
  }

  /* Atelier-Dune Green */
  .hljs-string,
  .hljs-symbol,
  .hljs-bullet {
    color: #60ac39;
  }

  /* Atelier-Dune Blue */
  .hljs-title,
  .hljs-section {
    color: #6684e1;
  }

  /* Atelier-Dune Purple */
  .hljs-keyword,
  .hljs-selector-tag {
    @apply text-purple-darkest;
  }

  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #a6a28c;
    background: #20201d;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }

  .hljs-attr {
    color: rgb(102, 132, 225);
  }
}

//关于页面额外配置
.about-page {
  .code-card {
    ul {
      margin: 0;
      position: relative;
      overflow: hidden;
      @media screen and (min-width: 876px) {
        margin: 0 16px;
      }
      li {
        padding-bottom: 15px;
        padding-left: 24px;
        position: relative;
        &::after {
          content: "";
          width: 9.8px;
          height: 9.8px;
          position: absolute;
          left: 0;
          top: calc(50% - 6px);
          transform: translateY(-50%);
          background-color: #fff;
          border-radius: 5px;
          border: 2px solid;
          z-index: 5;
          @apply border-purple-darkest shadow;
        }
        &::before {
          content: "";
          position: absolute;
          left: 4px;
          top: calc(-50% - 6px);
          width: 1.6px;
          height: 500%;
          background: #f0f0f0;
          z-index: 0;
        }
        &:nth-child(1)::before {
          content: "";
          position: absolute;
          left: 4px;
          top: 0;
          width: 1.6px;
          height: 100%;
          background: white;
        }
        &:nth-last-child(1)::before {
          content: "";
          position: absolute;
          left: 4px;
          top: calc(50% - 6px);
          width: 1.6px;
          height: 100%;
          background: white;
        }
      }
    }
    p {
      margin-bottom: 0;
    }
  }
}
