/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~swiper/css";
@import "~swiper/css/effect-fade";

@import "./assets/font/font.scss";
@import "./assets/code.scss";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap");
body {
  font-family: "Noto Sans SC", -apple-system, roboto, helvetica neue, sans-serif;
  @apply cursor-custom;
}

a,
img {
  @apply cursor-custom-link;
}

body,
a {
  @apply text-gray antialiased;
}

::selection {
  @apply text-white bg-purple;
}

:root {
  /* 主题色 */
  --waline-theme-color: #b854d4;
  --waline-active-color: #d68fe9;
  /* 徽章 */
  --waline-badge-color: #d68fe9;
}
