<div
  class="main-layout relative z-10 w-full s-md:bg-mobile-bg"
  *ngIf="showLayout"
>
  <app-golbal-load></app-golbal-load>
  <app-starryiu-header></app-starryiu-header>
  <div class="px-4 relative">
    <div
      class="w-876px mx-auto s-md:w-full"
      [@routeFadeAnimation]="getRouteAnimationData()"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-starryiu-panel></app-starryiu-panel>
  <app-starryiu-backtop></app-starryiu-backtop>
  <app-starryiu-player></app-starryiu-player>
  <app-header-progress></app-header-progress>
</div>
